[META]
NAME = SIMPLE1
WIDTH = 8
HEIGHT = 8
STEP_LIMIT = 50

[BLOCK]
1 COLOR=a WIDTH=3 HEIGHT=3 INIT_X=1 INIT_Y=1 GEOMETRY=1 1 1 0 1 0 0 1 0
2 COLOR=a WIDTH=2 HEIGHT=1 INIT_X=3 INIT_Y=2 GEOMETRY=1 1

[WALL]
########
#      #
#      #
#      #
#      #
#      #
#      #
########

[EXIT]
COLOR=a X=7 Y=4 ORIENTATION=V LI=1 LF=4 STEP=1

[GATE]