[META]
NAME = SINSOLUCION
WIDTH = 5
HEIGHT = 5
STEP_LIMIT = 10

[BLOCK]
1 COLOR=a WIDTH=1 HEIGHT=1 INIT_X=1 INIT_Y=1 GEOMETRY=1

[WALL]
#####
#   #
#   #
#   #
#####

[EXIT]
COLOR=b X=4 Y=1 ORIENTATION=V LI=1 LF=1 STEP=1

[GATE]