[META]
NAME = MEDIUM1
WIDTH = 10
HEIGHT = 10
STEP_LIMIT = 100

[BLOCK]
1 COLOR=a WIDTH=2 HEIGHT=2 INIT_X=1 INIT_Y=1 GEOMETRY=1 1 1 1
2 COLOR=c WIDTH=2 HEIGHT=1 INIT_X=1 INIT_Y=4 GEOMETRY=1 0 

[WALL]
##########
#        #
#        #
#####    #
#        #
#   #    #
#####    #
#        #
#        #
##########

[EXIT]
COLOR=a X=9 Y=1 ORIENTATION=V LI=1 LF=2 STEP=1
COLOR=c X=9 Y=6 ORIENTATION=V LI=2 LF=2 STEP=1

[GATE]
COLOR=a X=4 Y=4 ORIENTATION=V LI=1 CI=97 CF=110 STEP=1